@import "../../styles/App";


.portfolio{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 6rem 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 2rem;

        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 3rem;


            h2{
                font-size: clamp(1.5rem, 5vw, 2.5rem);
                font-weight: 600;
                text-align: center;

                color: $color-9;
            }

            .subtitle{
                font-size: clamp(1rem, 3vw, 1.5rem);
                font-weight: 400;
                text-align: center;
                color: $color-7;
                max-width: 600px;
            }
        }
    }
}