@import "../../styles/App";

.heading {
    position: absolute;
    top: 0;
    font-family: $font-Teko;
    white-space: nowrap;
    letter-spacing: 10px;
    font-size: 30ch;
    font-weight: bold;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: radial-gradient(circle farthest-corner at center center, $color-13, $color-13, $color-13);
    // -webkit-background-image: radial-gradient(circle farthest-corner at center center, $color-8, $color-5, $color-14);
    // -webkit-text-fill-color: transparent;
    z-index: -1;
    overflow: hidden;


    @media only screen and (max-width: 600px) {
        font-size: 15ch;
    }
}